@charset "UTF-8";
        body{
            background-color: #fff;
            max-width: 750px;
        }
        .container{
            padding-right:0;
            padding-left:0;
        }
        #main{
            margin: 1.333rem auto;
            width:4.667rem;
            border-style: solid;
            border-left-width: 1px;
            border-left-color: #bfbfbf;
            border-right-width: 1px;
            border-right-color: #bfbfbf;
            border-top-color: #ff6639;
            border-top-width: 0.067rem;
            border-bottom-color: #ff6639;
            border-bottom-width: 0.067rem;
            padding-bottom: 0.267rem;
        }
        h4{
            color: #ff6000;
            text-align: center;
        }
        #dl{
            color: #333;
            text-align: left;
            width: 4.0rem;
            margin: 0 auto;
            margin-bottom: 0.133rem;
        }
        label{
            font-weight: bold;
        }
        form{
            margin: 0 auto;
            width: 4.0rem;
        }
        #password,#password1{
            display: block;
            margin-bottom: 0.067rem;
            width: 3.333rem;
            height: 0.333rem;
            font-size: 14px;
        }
        #oneps,#twops{
            position: relative;
        }
        .psxschange{
            position: absolute;
            right: 0.733rem;
            bottom: 0.04rem;
        }
        #submit{
            display: block;
            -webkit-appearance: none;
            -moz-appearance: none;
            apperance:none;
            width: 3.4rem;
            height: 0.467rem;
            background-color: #ff6636;
            outline: none;
            border-style: none;
            color: #fff;
            font-size: 14px;
        }
        #tsmm,#tsmm1{
            color: #ff6000;
            display: none;
            font-size: 14px;
        }