@charset "UTF-8";
        body{
          max-width: 750px;
        }
        #main{
            margin: 1.333rem auto;
            width: 4.667rem;
            border-style: solid;
            border-left-width: 1px;
            border-left-color: #bfbfbf;
            border-right-width: 1px;
            border-right-color: #bfbfbf;
            border-top-color: #ff6639;
            border-top-width: 0.067rem;
            border-bottom-color: #ff6639;
            border-bottom-width: 0.067rem;
            padding-bottom: 0.267rem;
        }
        .container{
            padding-right:0;
            padding-left:0;
        }        
        #dl{
            color: #ff6000;
            text-align: center;
            width: 100%;
        }
        #main form label{
            font-weight: bold;
            display:block;
        }
        form{
            margin: 0 auto;
            width: 4.0rem;
        }
        #username,#email{
            display: inline-block;
            margin-bottom: 0.067rem;
            width: 3.4rem;
            height: 0.467rem;
            font-size: 14px;
        }
        #yzcode{
            display: inline-block;
            height: 0.467rem;
            width: 2.0rem;
            margin-bottom: 0.067rem;
            font-size: 14px;
        }
        #yzlabel{
            display: block;
        }
        #yzimg{
            vertical-align: middle;
        }
        #submit{
            display: block;
            -webkit-appearance: none;
            -moz-appearance: none;
            apperance:none;
            width: 3.4rem;
            height: 0.467rem;
            background-color: #ff6636;
            outline: none;
            border-style: none;
            color: #fff;
            font-size: 14px;
            margin-top:0.133rem;
        }
        #tsyhm,#tsemail,#tsyzcodeImg,
        #tsyzcode{
            color: #ff6000;
            display: none;
            font-size: 12px;
            margin-bottom: 0;
        }
        #tsyzcodeImg{
           display:block;
        }
        #userid,#emailid,
        #yzcodeid{
          display:none;
        }